body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: pink;
}

#iFrame {
    border: none;
    height: 598px;
    width: 350px;
}

#iFrameContainer {
    background: pink;
    position: absolute;
    visibility: hidden;
    height: 598px;
    width: 350px;
    display: flex;
    justify-content: end;
    align-items: end;
    bottom: 112px;
    right: 24px;
}

@media only screen and (max-width: 640px) {
    #iFrameContainer, #iFrame {
        width: 100%;
        /*       height: calc(100vh - 112px); */
    }
    #iFrameContainer {
        right: 0px;
    }
}

#chatbot-button {
    background: #f05a2c;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 20px;
    width: 100%;
    position: relative;
}

#chatbot-button-container {
    border: 3px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    bottom: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    cursor: pointer;
    height: 80px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    width: 80px;
}

#paw-icon, #x-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 40px;
    height: 40px;
}

#paw-icon {
    margin-top: 2px;
}

#x-icon {
    visibility: hidden;
}
